* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url(./green-texture-background.png);
    display: grid;
    justify-content: center;
    font-family: 'Teko', sans-serif;
}
header {
    font-weight: 500;
    font-size: 80px;
    text-align: center;
}
#landing-page {
    display: grid;
    grid-template-columns: 6vw 11vw 5vw;
    grid-template-rows: 43vh 6vh;
    grid-template-areas:
        "landing-card-back landing-card-back landing-card-back"
        "rules . start";
    justify-content: center;
    font-weight: 400;
    font-size: 45px;
}
.click { cursor: pointer; }
.click:hover { transform: scale(1.2); }
#rules { grid-area: rules; }
#rules-expand {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    width: 30vw;
}
#return { 
    text-align: center;
    margin-top: 15px;
}
#bicycle { 
    font-size: 15px;
    color: #807E75;
}
a { 
    text-decoration: none;
    color: inherit;
}
#start {
    grid-area: start;
    text-align: right;
}
#landing-card-back {
    grid-area: landing-card-back;
    background-color: white;
    border-radius: 5%;
    height: 42vh;
    justify-self: center;
}
#game-board {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25vw 14vw 14vw 25vw;
    grid-template-areas: 
        "player1 msg msg player2"
        "count1 flip flip count2"
        "card-back1 in-play1 in-play2 card-back2"
        ". take take ."
        ". reset reset .";
    font-weight: 300;
    font-size: 40px;
}
#player1 {
    grid-area: player1;
}
#count1 {
    grid-area: count1;
}
#card-back1 {
    grid-area: card-back1;
}
#in-play1 {
    grid-area: in-play1;
    margin-right: 5px;
}
#player2 {
    grid-area: player2;
    text-align: right;
}
#count2 {
    grid-area: count2;
    text-align: right;
}
#card-back2 {
    grid-area: card-back2;
    justify-self: right;
}
#in-play2 {
    grid-area: in-play2;
    margin-left: 5px;
}
#flip {
    grid-area: flip;
    text-align: center;
}
#msg {
    grid-area: msg;
    text-align: center;
}
#take {
    grid-area: take;
    text-align: center;
}
#reset {
    grid-area: reset;
    text-align: center;
    margin-top: 1em;
}
@media only screen and (max-width: 768px) {
    #landing-page {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "landing-card-back landing-card-back"
        "rules start";
    font-weight: 400;
    font-size: 40px;
    }
    header { font-size: 70px; }
    #rules-expand { width: 60vw; }
    #game-board {
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-areas: 
            "player1 msg player2"
            "count1 flip count2"
            "card-back1 . card-back2"
            "in-play1 take in-play2"
            "in-play1 reset in-play2";
        font-weight: 300;
        font-size: 35px;
    }
    #in-play2 { justify-self: right; }
    #reset { align-self: end; }
}